name: 'C++ CI'

on:
  push:
    branches:
      - master
      - feature/github_actions

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: sudo apt-get update && sudo apt-get install libboost-test-dev -y
      - run: cmake . -DPATCH_VERSION=${{ github.run_number }} -DWITH_BOOST_TEST=ON
      - run: cmake --build .
      - run: cmake --build . --target test
      - name: Run Tests
        run: ctest --output-on-failure
      - run: cmake --build . --target package
      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          files: ./Homeworks-0.0.${{ github.run_number }}-Linux.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  docs:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install doxygen graphviz -y
      - name: Clean old docs
        run: rm -rf docs/html
      - name: Generate Doxygen Documentation
        run: doxygen Doxyfile
        working-directory: ${{ github.workspace }}
      - name: Debug docs folder
        run: ls -R docs
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html 